h1 {
    text-align: center;
}

form {
    width: 40%;
    border: 2px blue solid;
    margin: auto;
    text-align: center;
}

form * {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#botonEnvio {
    padding: 5px 25px 5px 25px;
}