section#lateral {
    border: 2px red solid;
    width: 20%;
    height: 400px;
    float: left;
}
header {
    clear: both;
}
img.uno {
    width: 80%;
    height: 400px;
    
}
img.imagenes {
    height: 300px;
}
p {
    text-align: center;
}
section.image2 {
   width: 20%;
   position: fixed;
   left: 75%;
   height: 400px;
}
section.noticia {
    width: 55%;
    height: 400px;
    position: relative;
    float: left;
    overflow: auto;
}
img.dos {
    width: 30%;
    height: 500px;
    position: relative ;
    margin-right: 0%;
   left: 40%;
   top: 0%;
}
p{
 width: 100%;
 text-align: center;
}
img.terremoto {
    width: 50%;
    height: 400px;
   position: relative;
    left: 25%;
}